import { useState } from 'react';
import styles from './index.module.css';

export default function IndexPage() {
  const [message, setMessage] = useState('hello byd cli');

  return (
    <div className={styles.<%= data.lowerName %>}>
      {message}
    </div>
  );
}
